body {
	overflow-y: scroll;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

::-webkit-scrollbar {
	display: none;
}

a,
a:visited {
	background-color: #E7F3FF;
	text-decoration: none;
	color: inherit;
}

a:hover,
a:active,
a:focus {
	background-color: #F2E7FF;
	text-decoration: none;
	color: inherit;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
}

header {
	padding-left: 0px;
}

p {
	padding-left: 0px;
	font-size: 1.5em;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
}

footer {
	padding: 0px;
	margin: 0px;
}

#intro {
	font-size: 5em;
	font-weight: 800;
	color: #FF80A9;
	padding-top: 20px;
	padding-bottom: 40px;
}

.intro-fallback{
	font-size: 5em;
	font-weight: 800;
	color: #FF80A9;
	padding-top: 0px;
	padding-bottom: 0px;
}

#typed-intro{
	padding-bottom: 50px;
	display:none;
}
#divider {
	font-size: 4em;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}

.typed-cursor {
	display: none;
}

#dot1 {
	color: #9FDFEB;
}

#dot2 {
	color: #7AB4BD;
}

#dot3 {
	color: #0095A0;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}
#bio{	
	display:none;	
}

#intro,
#typed-intro,
#bio {
	padding-left: 0px;
}

#divider {
	padding-top: 30px;
	padding-left: 0px;
}

.container {
	margin-left: 100px;
	margin-right: 100px;
	padding: 0px;
}

.col-md-10 {
	padding: 0px;
}

#cta {
	font-weight: 700;
}

#links {
	font-size: 1.25em;
}

/* #cta a, */
/* #cta a:visited { */
	/* background-color: #0095A0; */
	/* text-decoration: none; */
	/* color: #FFF; */
/* } */

/* #cta a:hover, */
/* #cta a:active, */
/* #cta a:focus { */
	/* background-color: #9FDFEB; */
	/* text-decoration: none; */
	/* color: inherit; */
	/* -webkit-transition: background 0.2s linear; */
	/* -moz-transition: background 0.2s linear; */
	/* -ms-transition: background 0.2s linear; */
	/* -o-transition: background 0.2s linear; */
	/* transition: background 0.2s linear; */
/* } */

@media screen and (min-width: 481px) and (max-width: 1024px) {
	.container {
		margin-left: 30px;
		margin-right: 30px;
		padding: 0px;
	}
	#intro {
		font-size: 4.5em;
		font-weight: 700;
		color: #FF80A9;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.col-md-10{
		width:95%;
	}
}

@media screen and (max-width:480px){
	.container {
		margin-left: 20px;
		margin-right: 20px;
		padding: 0px;
	}
	#intro {
		font-size: 3em;
		font-weight: 700;
		color: #FF80A9;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.col-md-10{
		width:95%;
	}
}